<header>
  <div>
    <h1>
      <a class="logo" aria-label="Logo" href="home">
        <!--
            stove top by Abhimanyu Bose from <a href="https://thenounproject.com/browse/icons/term/stove-top/" target="_blank" title="stove top Icons">Noun Project</a> (CC BY 3.0)
          -->
        <img src="assets/cooktop.svg" alt="Logo" />
      </a>
      Cooktop
    </h1>
    <h2>{{ title }}</h2>
  </div>
  <div class="right-header-block">
    @if (isLoggedIn) {
      <div class="user-profile">
        <mat-card class="header-card">
          <mat-card-header>
            <a [routerLink]="" (click)="clicUserProfile()">
              <!-- 
                Default icon:
                Gregor Cresnar, CC BY-SA 4.0, via Wikimedia Commons
              -->
              <img mat-card-avatar class="thumb {{profileImgUrl ? '' : 'greyoutImg'}}" alt="user profile" src="{{profileImgUrl ? profileImgUrl : 'assets/user-info_icon.svg'}}">
            </a>
          </mat-card-header>
          <mat-card-content style="font-weight: 100; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
            <span>{{currentUser?.displayName?? ""}}</span>
          </mat-card-content>
          <mat-card-actions>
            <a class="logout-action" [href]="" (click)="logout()">
              <span>Logout</span>
            </a>
          </mat-card-actions>
      </mat-card>
      </div> 
    }
    <div class="subtitle sevillana-regular">
      <a class="logo" aria-label="Logo" href="home">
        Recull de<br>receptes
      </a>
    </div>
  </div>
</header>