<form [formGroup]="ingredientForm">
  <div>
    <div class="grid">
      <label for="id">Id: </label>
      <input type="text" id="id" formControlName="id" [readOnly]="true" placeholder="no-code">
      <label for="nom">Nom: </label>
      <input type="text" id="nom" formControlName="nom" [required]="true" (keypress)="keyPress($event)">
      <label for="idioma">Idioma: </label>
      <select id="idioma" formControlName="idioma" (change)="changeLang($event)">
        @for (item of strLan; track item) {
          <option [value]="item">{{item}}</option>
        }
      </select>
      <div formGroupName="nom_idiomes" class="grid">
        @for (item of strLan; track item) {
          <label for="{{item}}">{{item}}: </label>
          <input type="text" class="sencer" id="{{item}}" formControlName="{{item}}"> 
        }
      </div>
      <mat-form-field class="dietaProteica">
        <mat-label for="dietaProteica">Evitar en dieta proteica: </mat-label>
        <mat-select matNativeControl id="dietaProteica" color="error" formControlName="dietaProteica" (selectionChange)="changeDiet($event)">
          @for (item of nivellsLimitacioDietaProteica; track item[0]) {
            <mat-option [value]="item[0]">{{item[1]}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="textDieta">
        <span>{{textDieta}}</span>
      </div>
      <div class="restriccions">
        <mat-slide-toggle formControlName="noDiabetics" color="warn">No apte diabètics</mat-slide-toggle>
        <mat-slide-toggle formControlName="noCeliacs" color="warn">No apte celiacs</mat-slide-toggle>
        <mat-slide-toggle formControlName="haram" color="warn">Haram</mat-slide-toggle>
        <mat-slide-toggle formControlName="taref" color="warn">Taref</mat-slide-toggle>
        <mat-slide-toggle formControlName="noPaleo" color="warn">No apte dieta paleo</mat-slide-toggle>
        <mat-slide-toggle formControlName="altK" color="warn">Alt en vitamina K</mat-slide-toggle>
      </div>
      <textarea placeholder="descripció" formControlName="descripcio"></textarea><br />
    </div>
    <button mat-flat-button color="accent" type="button" [disabled]="!pendingForm()" (click)="submitButton()">Desa</button>
    <button mat-flat-button color="warn" type="button" (click)="cancelButton()">Cancel·la</button>
  </div>
</form>
<div>
  @if (textHTML !== undefined && textHTML != null && textHTML != "") {
    <p [innerHTML]="textHTML"></p>
  }
</div>

