<app-header [title]="title" [errorTextHTML]="errorTextHTML"></app-header>
<main class="main">
    <div class="content">
        <form class="grid-container" (ngSubmit)="login()" [formGroup]="credentials">
            <div class="input-label">
                <label for="email">Usuari: </label>
            </div>
            <div class="input-box">
                <mat-form-field style="width: 100%;">
                    <input matInput type="email" placeholder="Email" formControlName="email" />
                </mat-form-field>
            </div>
            <div class="input-label">
                <label for="password">Contrasenya: </label>
            </div>
            <div class="input-box">
                <mat-form-field style="width: 100%;">
                    <input matInput [type]="hidePassword ? 'password' : 'text'"  placeholder="Password" formControlName="password"
                        minlength="8" maxlength="24" [pattern]="pattern" />
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
            <div class="button-accept">
                <!--  [disabled]="!credentials.valid" -->
                <button class="button" type="submit" mat-flat-button color="accent" expand="block">Log in</button>
            </div>
            <div class="other-link">
                <a [href]="'/register'">Create account</a>

            </div>
        </form>
    </div>
</main>
<app-footer></app-footer>
