mat-card-header>h2{ width: 100%; text-align: center; color: var(--mint) } 
#email, #email-again, #password, #password-again { width: 100% }
#emailGroup { margin-bottom: 2em; }
#password, #password-again { margin-bottom: 2em;}
#footer { margin-bottom: 1em;}
mat-hint { color: var(--mint) }
mat-hint a { color: var(--teal-1) }