* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.footer {
  font-family: 'Roboto', sans-serif;
  background-color: teal;
  color: #fff;
}

.wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.wave-path {
  fill: var(--mint);// #fffff2;
}

.footer-content {
  padding: 40px 15px 100px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-menu {
  margin-top: 10px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-content-column li>a:hover {
  color: var(--spearmint);
}

.footer-social-links {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0;
  margin-left: auto;
  height: 54px;
  width: 236px;
  display: flex;
  align-items: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
}

.footer-social-links path {
  transition: fill 0.3s ease;
  fill: #fffff2;
  transition: fill .2s;
}

.footer-social-links a:hover svg path {
  fill: var(--gray-400);
}


.footer-author {
  background-color: #00AEAE;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-author-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-author-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-author-link {
  color: #fff;
  text-decoration: none;
}


/* Media Query For different screens */
@media (min-width:320px) and (max-width: 759px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  /* smartphones, Android phones, landscape iPhone */
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    padding: 40px 15px 150px;
  }
}

@media (min-width: 760px) {
  .footer-content {
    padding: 40px 15px 100px;
  }

  .wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}
