mat-card-header>h2{ width: 100%; text-align: center; color: var(--mint) } 
#email, #password { width: 100% }
#password { margin-bottom: 2em;}
#footer { margin-bottom: 1em;}
mat-hint { color: var(--mint) }
mat-hint a { color: var(--teal-1) }